In [10]:
#Mayelin Stefania Aguilar Vásquez
#Marzo 19, 2023

In [11]:
import pandas as pd

df = pd.read_csv("DNP-ProductoSector.csv")

#Mostrando encabezado

df.head()

,Sector,UnidadMedidaProducto,Indicador,UnidadMedidaIndicador,Producto,Cantidad,MetaIndicador,AvanceIndicador,ValorProducto
0,Interior,Número,Asesorías técnicas realizadas Actualizadas par...,Número,Asesorías técnicas realizadas,1.0,1.0,0.0,15000000.0
1,Inclusión Social Y Reconciliación,Número de personas,Personas vinculadas a empleo formal para pobla...,Número de personas,Servicio de gestión para la colocación de empleo,40.0,40.0,80.0,50208633.0
2,Agricultura Y Desarrollo Rural,Mes,Cadenas productivas apoyadas con recursos,Mes,El proyecto garantiza la asistencia técnica e...,12.0,2.0,0.0,0.0
3,Inclusión Social Y Reconciliación,Número de beneficiarios,Beneficiarios potenciales para quienes se gest...,Número de beneficiarios,Servicio de gestión de oferta social para la p...,3000.0,3000.0,3000.0,18000000.0
4,Cultura,Número de usuarios,Usuarios,Número de usuarios,Servicios bibliotecarios,20788.0,20788.0,0.0,0.0

In [12]:
import pandas as pd

df = pd.read_csv("DNP-ProductoSector.csv")

#Percentil 
df.describe()

           Cantidad  MetaIndicador  AvanceIndicador  ValorProducto
count  3.720310e+05   3.720310e+05     3.720310e+05   3.718230e+05
mean   9.568506e+07   9.506583e+07     6.696138e+07   4.842862e+09
std    2.535762e+10   2.541023e+10     2.478682e+10   1.385807e+11
min    0.000000e+00   0.000000e+00     0.000000e+00   0.000000e+00
25%    1.000000e+00   1.000000e+00     0.000000e+00   4.800000e+06
50%    7.000000e+00   8.000000e+00     0.000000e+00   5.756527e+07
75%    1.690000e+02   2.000000e+02     1.000000e+00   3.729010e+08
max    1.422167e+13   1.422167e+13     1.422167e+13   3.349194e+13

In [13]:
import pandas as pd

df = pd.read_csv("DNP-ProductoSector.csv")

#Identificando columnnas 
df.columns

Index(['Sector', 'UnidadMedidaProducto', 'Indicador', 'UnidadMedidaIndicador',
       'Producto', 'Cantidad', 'MetaIndicador', 'AvanceIndicador',
       'ValorProducto'],
      dtype='object')

Sector                    object
UnidadMedidaProducto      object
Indicador                 object
UnidadMedidaIndicador     object
Producto                  object
Cantidad                 float64
MetaIndicador            float64
AvanceIndicador          float64
ValorProducto            float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372031 entries, 0 to 372030
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sector                 372031 non-null  object
 1   UnidadMedidaProducto   372009 non-null  object
 2   Indicador              372021 non-null  object
 3   UnidadMedidaIndicador  372010 non-null  object
 4   Producto               372030 non-null  object
 5   Cantidad               372031 non-null  float64
 6   MetaIndicador          372031 non-null  float64
 7   AvanceIndicador        372031 non-null  float64
 8   ValorProducto          371823 non-null  float64
dtypes: float64(4), object(5)
memory usage: 25.5+ MB

           Cantidad  MetaIndicador  AvanceIndicador  ValorProducto
count  3.720310e+05   3.720310e+05     3.720310e+05   3.718230e+05
mean   9.568506e+07   9.506583e+07     6.696138e+07   4.842862e+09
std    2.535762e+10   2.541023e+10     2.478682e+10   1.385807e+11
min    0.000000e+00   0.000000e+00     0.000000e+00   0.000000e+00
25%    1.000000e+00   1.000000e+00     0.000000e+00   4.800000e+06
50%    7.000000e+00   8.000000e+00     0.000000e+00   5.756527e+07
75%    1.690000e+02   2.000000e+02     1.000000e+00   3.729010e+08
max    1.422167e+13   1.422167e+13     1.422167e+13   3.349194e+13

,Sector,UnidadMedidaProducto,Indicador,UnidadMedidaIndicador,Producto,Cantidad,MetaIndicador,AvanceIndicador,ValorProducto
0,Interior,Número,Asesorías técnicas realizadas Actualizadas par...,Número,Asesorías técnicas realizadas,1.0,1.0,0.0,15000000.0
1,Inclusión Social Y Reconciliación,Número de personas,Personas vinculadas a empleo formal para pobla...,Número de personas,Servicio de gestión para la colocación de empleo,40.0,40.0,80.0,50208633.0
2,Agricultura Y Desarrollo Rural,Mes,Cadenas productivas apoyadas con recursos,Mes,El proyecto garantiza la asistencia técnica e...,12.0,2.0,0.0,0.0
3,Inclusión Social Y Reconciliación,Número de beneficiarios,Beneficiarios potenciales para quienes se gest...,Número de beneficiarios,Servicio de gestión de oferta social para la p...,3000.0,3000.0,3000.0,18000000.0
4,Cultura,Número de usuarios,Usuarios,Número de usuarios,Servicios bibliotecarios,20788.0,20788.0,0.0,0.0

(372031, 9)

array(['Interior', 'Inclusión Social Y Reconciliación',
       'Agricultura Y Desarrollo Rural', 'Cultura', 'Educación',
       'Deporte Y Recreación', 'Ambiente Y Desarrollo Sostenible',
       'Transporte', 'Vivienda Ciudad Y Territorio',
       'Gobierno Territorial', 'Salud Y Protección Social',
       'Ciencia Tecnología E Innovación', 'Planeación', 'Minas Y Energía',
       'Trabajo', 'Comercio Industria Y Turismo',
       'Presidencia De La República', 'Empleo Público',
       'Justicia Y Del Derecho', 'Información Estadística', 'Hacienda',
       'Tecnologías De La Información Y Las Comunicaciones',
       'Organismos De Control', 'Fiscalía', 'Rama Judicial',
       'Registraduría', 'Congreso De La República',
       'Relaciones Exteriores',
       'Sistema Integral De Verdad Justicia Reparación Y No Repetición'],
      dtype=object)

,Sector,UnidadMedidaProducto,Indicador,UnidadMedidaIndicador,Producto,Cantidad,MetaIndicador,AvanceIndicador,ValorProducto
0,Interior,Número,Asesorías técnicas realizadas Actualizadas par...,Número,Asesorías técnicas realizadas,1.00,1.00,0.0,1.500000e+07
63,Interior,Número de iniciativas,Iniciativas de las organizaciones sociales com...,Número de iniciativas,Servicio de promoción a la participación ciuda...,1.00,1.00,0.0,3.000000e+05
182,Interior,Número de estaciones de bomberos,Estaciones de bomberos con mantenimiento,Número de estaciones de bomberos,Estaciones de bomberos con mantenimiento,1.00,1.00,0.0,0.000000e+00
230,Interior,Número de eventos,Eventos realizados,Número de eventos,Servicio de divulgación,153371.00,153371.00,0.0,0.000000e+00
340,Interior,Unidad,Documento de lineamientos técnicos realizados,Unidad,Apoyar la articulación para la atención integr...,12.00,12.00,0.0,6.084000e+08
424,Interior,Metros cuadrados de áreas,Área intervenida,Metros cuadrados de áreas,Obras para el control y reducción de la erosión,1031.51,1031.51,0.0,1.728506e+09
515,Interior,Número de entidades territoriales,Entidades territoriales asistidas técnicamente,Número de entidades territoriales,Servicio de asistencia técnica en atención y r...,1.00,1.00,0.0,2.000000e+07
536,Interior,Unidad,Informes de campañas de auto reconocimiento re...,Unidad,Informes de campañas de auto reconocimiento re...,7.00,7.00,23.0,2.280000e+08
561,Interior,Número de entidades,Entidades asistidas técnicamente,Número de entidades,Servicio de asistencia técnica en seguridad y ...,4.00,4.00,0.0,0.000000e+00
608,Interior,Número,Personas capacitadas,Número,Festivales deportivos,1.00,1.00,0.0,8.000000e+07

In [23]:
df.to_csv('DataSet_Interior.csv', sep = ',')